*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    padding: 15px 47px;
    background: #00AFDB;
    transition: all 0.2s;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    display: inline-block;
}

.btn-store {
    text-transform: uppercase;
    color: #fff;
    padding: 15px 47px;
    background: #00AFDB;
    transition: all 0.2s;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.btn:hover {
    background: #009CC2;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

h1 {
    position: absolute;
    z-index: -3;
    color: transparent;
}

.header-container {
    max-width: 582px;
    margin: 0 auto;
}

.header {
    padding: 25px 0px;
    background-color: #000000;
    max-width: 1600px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list__item-link {
    font-size: 1.4rem;
    color: #fff;
    opacity: 0.8;
    transition: all 0.2s;
}

.nav-list__item-link:hover {
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
}

.active {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
}

.your-life {
    padding-top: 136px;
    padding-bottom: 90px;
    background-image: url("assets/img/bg-image.png");
    background-position: center -94px;
    color: #FFFFFF;
    background-repeat: no-repeat;
}

.your-life__title {
    text-align: center;
    font-size: 6.4rem;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 7.5rem;
}

.your-life__description {
    max-width: 28%;
    margin: 0 auto 30px auto;
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
}

.your-life__btn {
    text-align: center;
    margin: 0 auto 183px auto;
}

.your-life-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-life-links__item a {
    outline: none;
}

.your-life-links__item {
    transition: all 0.2s;
}

.your-life-links__item:hover {
    transform: scale(1.25);
}

.your-life-links__item:not(:last-child) {
    margin-right: 30px;
}

.rappresent-container {
    max-width: 1062px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rappresent-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
    max-width: 59%;
}

.rappresent-description {
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-bottom: 30px;
    max-width: 62%;
}

.our-community {
    background: #F5F6F7;
    padding-top: 120px;
    padding-bottom: 140px;
    position: relative;
}

.our-community-container {
    max-width: 1331px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.our-community-left {
    text-align: center;
    margin-right: 140px;
}

.our-community__img {
    margin-bottom: 20px;
}

.our-community__title {
    letter-spacing: 2.4px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #373737;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.our-community__description {
    font-size: 1.4rem;
    line-height: 140%;
    color: #4E4E4E;
    max-width: 438px;
}

.our-community-right {
    overflow: hidden;
}

.arrows-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 81px;
    right: 272px;
}

.arrow {
    display: inline-block;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.5;
}

.arrow-left {
    padding-right: 11px;
}

.our-community-right__digit {
    color: #373737;
    font-size: 1.8rem;
}

.arrow-right {
    padding-left: 11px;
}

.our-community-images {
    display: flex;
    overflow: hidden;
}

.our-community-images__item {
    margin-right: 30px;
}

.implement {
    padding-top: 120px;
    padding-bottom: 140px;
}

.implement-container {
    max-width: 1062px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.implement-left {
    margin-right: 139px;
}

.implement-right__title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
}

.implement-right__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-bottom: 30px;
    max-width: 80%;
}

.subscribe {
    background-image: url("assets/img/subscribe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 217px;
    padding-bottom: 277px;
}

.subscribe-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.subscribe-form {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-input {
    padding: 14px 206px 12px 24px;
    font-size: 1.4rem;
}

.subscribe-inpu::placeholder {
    font-size: 1.4rem;
    line-height: 140%;
    color: #373737;
}

.subscribe-btn {
    background: #00AFDB;
    border: 0;
    outline: 0;
    padding: 22px 33px;
    margin-left: -64px;
    position: relative;
    transition: all 0.2s;
}

.subscribe-btn:hover {
    background: #009CC2;
}

.subscribe-btn::after {
    content: "";
    background-image: url("assets/img/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    margin-left: -50%;
    top: 0%;
}

.download {
    padding-top: 120px;
    padding-bottom: 180px;
    background: #F5F6F7;
}

.download-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
}

.download-description {
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
    max-width: 483px;
    margin-bottom: 30px;
}

.download-buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.download-btn {
    background: #00AFDB;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
}

.download-btn:hover {
    background-color: #009CC2;
}
.download-btn-link {
    text-align: center;
    padding: 18px 19.8px;
}
.btn-img {
    padding: 20px 28.5px;
    background-color: #009CC2;
}
.download-btn:nth-child(1){
    margin-right: 30px;
}

.applestore {
    position: relative;
}

.applestore:before {
    position: absolute;
    content: "";
    background-image: url("assets/img/apple.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.playmarket{
    position: relative;
}

.playmarket:before {
    position: absolute;
    content: "";
    background-image: url("assets/img/android.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
    background: #000000;
    padding: 64px 160px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    display: flex;
}

.footer-list__item {
    font-size: 1.4rem;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.98;
    transition: all 0.2s;
}

.footer-list__item:not(:last-child) {
    margin-right: 40px;
}

.footer-list__item:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.footer-logo {
    padding-right: 105px;
}

.footer-text {
    font-size: 1.4rem;
    line-height: 140%;
    text-align: center;
    color: #818181;
}